/* styles.css */
.ContextMenuContent {
  transform-origin: var(--radix-context-menu-content-transform-origin);
  animation: scaleIn 150ms ease-out;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    /* transform: scale(0); */
  }

  to {
    opacity: 1;
    /* transform: scale(1); */
  }
}